body {  
	background:#333;
}	

.videooverlay {
	background-color: rgba(0,0,0,.5);	
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

a, a:visited {
	color: #333;
}  

a:hover {
	color: #444; 
}  
	
.loading #loadingoverlay {
	background: #333;
}

#loadingoverlay h2 { 
	color:#f0b321		
}

a.button, a.button:visited {  
	text-transform: uppercase;
	background: #333;
	color:#fff;
	border: solid 1px #333; 
	font-weight: 400;
}
a.button span {
	color: #f0b321;
}

a.button:hover {
	background: #333; 
  	color: #fff;
}	

a.button-light, a.button-light:visited {
	background: #fff; 
	border: solid 1px #333; 
	color:#333;
}

a.button-light span {
	color:#333;	
}
 
.large, .medium {  
	color: #f0b321;
}

.form-row input.btn {
	text-transform: uppercase;
	background: #f0b321;
	color:#fff; 	
}

.form-row input.btn:hover {
	background: #333; 
  	color: #fff;	
}

#footer a .medium:hover { 
	background: #333; 
  	color: #fff;
} 

#sidebar ul li h3.label span {
	color: #f0b321	
}

.hero h2 span { 
	border-bottom: solid 5px #f0b321;
}	

.hero .form-box .top .spacer {
	background: #f0b321;
}

.hero .button {
	border:0;
	background: #f0b321 !important;
	border: solid 2px #f0b321 !important;
	color:#fff;
}

.hero .button-light {
	border: solid 2px #fff !important;
	background: rgba(0,0,0,.2) !important;
	color: #fff;
}

.demo-box span {
	color: #f0b321;
}

.price .option span.spacer {
	background: #f0b321;
}			

.form-row input.btn { 
	background: #f0b321; 
	color:#fff; 	
}

.form-row input.btn:hover, 
.form-row input.btn:focus {
	background: #f0b321; 
	color:#fff; 
}	

.price .ribbon {
	background-color: #f0b321;
	color:#fff;
}
	
.box-right .image-box {
	background: url(../../pictures/sample2.jpg) 50% 0 / cover no-repeat;	
}

.box-left .image-box {
	background: url(../../pictures/sample6.jpg) 50% 0 / cover no-repeat;	
}

.price { 
	background:#333;
}